<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../public/css/style.css">

    <title>Blog </title>
</head>
<body>
   
   
       
            <nav class="nav-bar flex" style="flex-direction: initial; justify-content: space-between;">            
                <div class="nav-links" >
                <ul class="flex" style="flex-direction: initial;">
                    <a href="/">Home</a>
                    <a href="/compose">Compose</a>
                    <a href="/">Post</a>
                    <a href="#">About</a>
                </ul>
                    
                </div>
            </nav>
          

       
    <main> 
           <div class="container">
       
            <div class="container-2, flex" style="flex-direction: initial;">
    
              <div>
                <p class="subtitle">Hello Everyone!</p>
    
                <h1 class="headline ">
                  I’m <span class="span">Vikas Bhatt</span>
                </h1>
    
                <p class="text">
                  I use animation as a third dimension by which to simplify experiences and kuiding thro each and every
                  interaction. I’m not adding motion just to spruce things up, but doing it in ways that.
                </p>

                <h2 class="blog-start">Write your own blog and Connect with multiple peoples</h2>

                 <a href="/compose" ><button class="primary-button"> Compose</button> </a>

               </div> 
               <div> <img src="../public/images/recent-post-1.jpg" alt="image" width="400px" style="margin-left: 20px;"></div>
    
                
              </div>
              </div>
    
              
          </section>